{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!--csrf_token check that data is going from this server -->
    <!-- enctype="multipart/form-data" is used to send an image to backend if not present only text will go to backend and image will not -->
    <h3>Login to Stories</h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <form>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        <p>Don't have Account<a href="/register">Regester</a></p>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </form>
</div>
{% endblock %}