{% extends "baseAdmin.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Buttons</th>
    </tr>
  </thead>
  <tbody>
    {% for lesson in lessons %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{lesson.title}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <a href="/editLesson/{{lesson.id}}" class="btn btn-outline-success">Edit</a>
          <a href="/deleteLesson/{{lesson.id}}" class="btn btn-outline-danger">Delete</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}